<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43474848615-av6u72sahfa7kc8033sr520rau6t8jr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43474848615-av6u72sahfa7kc8033sr520rau6t8jr2</string>
	<key>API_KEY</key>
	<string>AIzaSyCmRO3EbY9SRoTtB9HXBJJJf7kxRtbKZag</string>
	<key>GCM_SENDER_ID</key>
	<string>43474848615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tokioMarine</string>
	<key>PROJECT_ID</key>
	<string>tokio-marine-desafio</string>
	<key>STORAGE_BUCKET</key>
	<string>tokio-marine-desafio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43474848615:ios:b04558044652a164c53dc2</string>
</dict>
</plist>